
@tailwind base;
@tailwind utilities;
@tailwind components;
body{font-family: 'Poppins';}
.scrollBarNone{scrollbar-width: none;}
.mainImage{background:rgba(0,0,0,0.2) url(../src/recources/bg.jpg) no-repeat center/cover;background-blend-mode: darken;}
.activeLink::before{content:'';position: absolute;height: 0.2rem;width: 40%;transition: 0.5s;}
.navLink::before{content:'';position: absolute;height: 0.2rem;width: 0;transition: 0.5s;}
.navLink::before:hover{transition: 0.5s;}
.bgTransparentBlack{background-color: rgba(0, 0, 0, 0.827);}
.raleway{font-family: 'Raleway';}
.bgTransparentGrey{background-color: rgba(51, 51, 51, 0.531);}
.bgTransparentGreyLight{background-color: rgba(101, 101, 101, 0.645);}
.service_icons{background-color:#22c55e ;padding:1.5rem;box-shadow: -1rem -1rem 0 rgba(94, 94, 94, 0.696);color: white;}
.service_cards:hover .service_icons{
color:#22c55e ;  
background-color: white;
box-shadow: -1rem -1rem 0 #3cdc77d3;
}
.img::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.827) ;
    opacity: 0;
    scale: 0.8;
    transition: 0.3s;
}
.img:hover::before{
    scale: 1;
    transition: 0.3s;
    opacity: 100%;
}
.animate__animated.animate__fadeIn{
    --animate-duration: .5s;
}